<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Анализ геоданных на выборке из ДТП штата Мэриленд</title>

    <link rel="stylesheet" th:href="@{/static/leaflet/1.6.0/leaflet.css}"/>
    <script th:src="@{/static/leaflet/1.6.0/leaflet-src.js}"></script>

    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
        let contextPath = /*[[@{/}]]*/;
        /*]]>*/
        const pathToApi = contextPath + "cluster/kmeans/";

    </script>

</head>

<body onload="initMap()">

<div id="mapid"></div>

<div id="zoomLevel">
    <table id="zoomToClusterTable">
        <thead>
        <tr>
            <td>
                zoom
            </td>
            <td>
                clusters
            </td>
        </tr>
        </thead>
        <tr>
            <td id="zoom">

            </td>
            <td id="cluster">

            </td>
        </tr>
    </table>
</div>


<script type="text/javascript" th:inline="javascript">

    const defaultZoom = 8;

    const zoom_relations = {
        "3": {
            clusterSize: 3
        }, "4": {
            clusterSize: 4
        }, "5": {
            clusterSize: 5
        }, "6": {
            clusterSize: 6
        }, "7": {
            clusterSize: 7
        }, "8": {
            clusterSize: 8
        }, "9": {
            clusterSize: 15
        }, "10": {
            clusterSize: 18
        }, "11": {
            clusterSize: 18
        }, "12": {
            clusterSize: 22
        }, "13": {
            clusterSize: 30
        }, "14": {
            clusterSize: 30
        }, "15": {
            clusterSize: 25
        }, "16": {
            clusterSize: 21
        }, "17": {
            clusterSize: 16
        }, "18": {
            clusterSize: 15
        }, "19": {
            clusterSize: 15
        }
    }

    function initMap() {
        var map = L.map('mapid');

        var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 3,
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        // Initialize with openstreetmap
        OpenStreetMap_Mapnik.addTo(map);
        L.control.scale().addTo(map);

        map.setView([39.0458, -76.6413], defaultZoom);

        // маркеры
        var markers = [];

        printMarkersDelegate(map, markers);

        // Получение зумма и класетров
        // логики в другом методе не сделать
        async function onZoomend() {
            await printMarkersDelegate(map, markers);
        }

        map.on('zoomend', onZoomend);

    }

    function getClustersByClusterSize(clusterSize) {
        const kmeansNonMotoristByClusterSize = 'nonmotorist/'
        return fetch(pathToApi + kmeansNonMotoristByClusterSize + clusterSize)
            .then(response => response.json())
            .then(cluster => JSON.stringify(cluster))
            .then(cluster => JSON.parse(cluster));

    }

    function getClustersByClusterSizeAll(clusterSize) {
        const kmeansNonMotoristByClusterSize = 'all/'
        return fetch(pathToApi + kmeansNonMotoristByClusterSize + clusterSize)
            .then(response => response.json())
            .then(cluster => JSON.stringify(cluster))
            .then(cluster => JSON.parse(cluster));

    }

    function addMarkersToMap(clusters, markers) {

        markers.length = 0;

        clusters.forEach(
            cluster => {

                var popup = "<b style='font-size:10pt;'>Amount of accidents: </b>" + cluster.points.length +
                    "<br> <i style='font-size:7pt;'>Latitude:" + cluster.latitude + "</i>" +
                    "<br> <i style='font-size:7pt;'>Longitude:" + cluster.longitude + "</i>";

                // Creating Marker Options
                var markerOptions = {
                    title: "Amount of accidents: " + cluster.points.length,
                    clickable: true,
                    draggable: false,
                    riseOnHover: true
                }

                var marker = new L.marker([cluster.latitude, cluster.longitude], markerOptions).bindPopup(popup);

                marker.on('mouseover', function (ev) {
                    marker.openPopup();
                });

                markers.push(marker);
            }
        )

        return markers;

    }

     async function printMarkersDelegate(map, markers) {
        var currentZoom = map.getZoom();

        document.getElementById('zoom').innerHTML = currentZoom;
        document.getElementById('cluster').innerHTML = zoom_relations[currentZoom].clusterSize;

        var clusters = await getClustersByClusterSize(zoom_relations[currentZoom].clusterSize);
        // var clusters = await getClustersByClusterSizeAll(zoom_relations[currentZoom].clusterSize);

        // очистка от старых маркеров
        markers.forEach(marker => {
            map.removeLayer(marker);
        });

        // map.removeLayer(markers);

        addMarkersToMap(clusters, markers);

        // рисование новых маркеров
        markers.forEach(marker => {
            marker.addTo(map);
        })
    }


</script>

</body>

<style type="text/css">
    html, body {
        padding: 0;
        margin: 0;
        bottom: 0;
        height: 100vh;
        overflow: hidden;
    }

    #mapid {
        position: absolute;
        /*bottom: 10px;*/
        height: 100%;
        width: 45%;
    }

    #zoomLevel {
        float: right;
    }

    table, th, td {
        border: 1px solid black;
    }

</style>

</html>